n8n/workflows/generate-image.json
{
  "name": "Social Media — Generate Image",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-image",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "generate-image"
    },
    {
      "parameters": {
        "jsCode": "// Build a Pollinations AI URL from the visual gist and style\nconst body = $input.first().json.body;\nconst visualGist = body.visualGist || 'abstract social media graphic';\nconst style = body.style || 'modern';\n\nconst styleInstructions = {\n  modern: 'modern minimalist design, vibrant colors, clean aesthetic, high quality, digital art',\n  corporate: 'corporate, professional, polished, blue and neutral tones, high-end photography',\n  creative: 'creative, bold artistic composition, eye-catching colors, surreal, highly detailed',\n  minimal: 'ultra minimal, lots of white space, sophisticated, elegant, high resolution',\n  warm: 'warm, inviting, human-centric, soft natural lighting, cinematic photography',\n  tech: 'futuristic, cyberpunk, tech-forward, glowing accents, 8k, highly detailed',\n};\n\nconst cleanGist = visualGist.replace(/subject:/gi, '').trim();\nconst styleStr = styleInstructions[style] || styleInstructions.modern;\nconst enhancedPrompt = `${cleanGist}, ${styleStr}, masterpiece, highly detailed, professional social media graphic`;\n\nconst encodedPrompt = encodeURIComponent(enhancedPrompt);\nconst negativePrompt = encodeURIComponent('text, words, letters, signature, watermark, messy, ugly, poorly drawn, abstract chaos, blurry, deformed');\nconst imageUrl = `https://image.pollinations.ai/prompt/${encodedPrompt}?width=1080&height=1080&nologo=true&enhance=true&negative=${negativePrompt}`;\n\nreturn [{\n  json: {\n    image: {\n      path: imageUrl,\n      fullPath: null,\n      filename: `post-${Date.now()}.png`,\n      isDataUri: false,\n      isMock: false\n    }\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Build Pollinations URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000003",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [740, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Build Pollinations URL", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Pollinations URL": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "socialagent" }
  ],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
