n8n/workflows/generate-plan.json
{
  "name": "Social Media — Generate Plan",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-plan",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "generate-plan"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.body.prompt) }}}],\n  \"temperature\": 0.8,\n  \"max_tokens\": 3000\n}",
        "options": { "timeout": 60000 }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000002",
      "name": "Groq — Generate Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "check-success", "leftValue": "={{ $json.choices }}", "rightValue": "", "operator": { "type": "exists", "operation": "exists" } }]
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [740, 200]
    },
    {
      "parameters": {
        "jsCode": "let text = '';\ntry { text = $input.first().json.choices[0].message.content || ''; } catch(e) {}\ntext = text.trim().replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\ntry {\n  return [{ json: { suggestions: JSON.parse(text), raw: text } }];\n} catch (e) {\n  return [{ json: { suggestions: [{ day: 5, platform: 'both', title: '[PARSE ERROR]', written_gist: 'AI returned unparseable JSON.', visual_gist: 'Abstract graphic' }], raw: text, parseError: e.message } }];\n}"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000004",
      "name": "Parse Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 100]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { suggestions: [{ day: 5, platform: 'both', title: '[MOCK] System Update', written_gist: 'API rate limit reached. Mock data.', visual_gist: 'System alert graphic' }, { day: 12, platform: 'facebook', title: '[MOCK] Insights', written_gist: 'Check Groq API key.', visual_gist: 'Data chart' }], raw: 'MOCK DATA', isMock: true } }];"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000005",
      "name": "Mock Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [980, 400]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}" },
      "id": "a1b2c3d4-0003-4000-8000-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1220, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Groq — Generate Plan", "type": "main", "index": 0 }]] },
    "Groq — Generate Plan": { "main": [[{ "node": "Success?", "type": "main", "index": 0 }]] },
    "Success?": { "main": [[{ "node": "Parse Plan", "type": "main", "index": 0 }], [{ "node": "Mock Fallback", "type": "main", "index": 0 }]] },
    "Parse Plan": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] },
    "Mock Fallback": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "socialagent" }]
}
