n8n/workflows/publish-post.json
{
  "name": "Social Media — Publish Post",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "publish",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "publish"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst platform = body.platform || 'both';\nlet fbText = body.text;\nlet igText = body.text;\nif (platform === 'both') {\n  const fbMatch = body.text.match(/===\\s*FACEBOOK\\s*===([\\s\\S]*?)(?:===\\s*INSTAGRAM\\s*===|$)/i);\n  const igMatch = body.text.match(/===\\s*INSTAGRAM\\s*===([\\s\\S]*?)(?:===\\s*FACEBOOK\\s*===|$)/i);\n  if (fbMatch && fbMatch[1].trim()) fbText = fbMatch[1].trim();\n  if (igMatch && igMatch[1].trim()) igText = igMatch[1].trim();\n}\nreturn [{ json: { ...body, fbText, igText, publishFacebook: platform === 'facebook' || platform === 'both', publishInstagram: platform === 'instagram' || platform === 'both' } }];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000002",
      "name": "Route Platform",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "should-facebook", "leftValue": "={{ $json.publishFacebook }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000003",
      "name": "Facebook?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 160]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "should-instagram", "leftValue": "={{ $json.publishInstagram }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Instagram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 460]
    },
    {
      "parameters": {
        "jsCode": "// Determine if this is an image or text post and call the correct Facebook Graph API endpoint\nconst data = $('Route Platform').first().json;\nconst pageId = data.fbPageId;\nconst token = data.facebookToken;\nconst text = data.fbText;\nconst imageUrl = data.imageUrl;\n\nlet result;\nif (imageUrl) {\n  // Image post via /{page-id}/photos\n  const res = await fetch(`https://graph.facebook.com/v19.0/${pageId}/photos`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ url: imageUrl, message: text, access_token: token })\n  });\n  result = await res.json();\n} else {\n  // Text post via /{page-id}/feed\n  const res = await fetch(`https://graph.facebook.com/v19.0/${pageId}/feed`, {\n    method: 'POST',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ message: text, access_token: token })\n  });\n  result = await res.json();\n}\n\nreturn [{ json: result }];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000005",
      "name": "Facebook — Post",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 160],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Route Platform').first().json.igUserId }}/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"{{ $('Route Platform').first().json.imageUrl }}\",\n  \"caption\": {{ JSON.stringify($('Route Platform').first().json.igText) }},\n  \"access_token\": \"{{ $('Route Platform').first().json.instagramToken }}\"\n}",
        "options": { "timeout": 30000 }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000006",
      "name": "IG — Create Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 460],
      "continueOnFail": true
    },
    {
      "parameters": { "amount": 5, "unit": "seconds" },
      "id": "a1b2c3d4-0004-4000-8000-000000000007",
      "name": "Wait for IG",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1160, 460]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $('Route Platform').first().json.igUserId }}/media_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $('IG — Create Container').first().json.id }}\",\n  \"access_token\": \"{{ $('Route Platform').first().json.instagramToken }}\"\n}",
        "options": { "timeout": 30000 }
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000008",
      "name": "IG — Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1360, 460],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const results = { facebook: null, instagram: null };\nconst errors = [];\ntry {\n  const fb = $('Facebook — Post').first()?.json;\n  if (fb && (fb.id || fb.post_id)) {\n    results.facebook = { success: true, postId: fb.id || fb.post_id };\n  } else if (fb?.error) {\n    errors.push('Facebook: ' + JSON.stringify(fb.error));\n  }\n} catch(e) {}\ntry {\n  const ig = $('IG — Publish').first()?.json;\n  if (ig && ig.id) {\n    results.instagram = { postId: ig.id, success: true };\n  } else if (ig?.error) {\n    errors.push('Instagram: ' + JSON.stringify(ig.error));\n  }\n} catch(e) {}\nconst success = !!(results.facebook || results.instagram);\nreturn [{ json: { success, results, errors: errors.length > 0 ? errors : undefined } }];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000009",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}" },
      "id": "a1b2c3d4-0004-4000-8000-000000000010",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Route Platform", "type": "main", "index": 0 }]] },
    "Route Platform": { "main": [[{ "node": "Facebook?", "type": "main", "index": 0 }, { "node": "Instagram?", "type": "main", "index": 0 }]] },
    "Facebook?": { "main": [[{ "node": "Facebook — Post", "type": "main", "index": 0 }], [{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Instagram?": { "main": [[{ "node": "IG — Create Container", "type": "main", "index": 0 }], [{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Facebook — Post": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "IG — Create Container": { "main": [[{ "node": "Wait for IG", "type": "main", "index": 0 }]] },
    "Wait for IG": { "main": [[{ "node": "IG — Publish", "type": "main", "index": 0 }]] },
    "IG — Publish": { "main": [[{ "node": "Merge Results", "type": "main", "index": 0 }]] },
    "Merge Results": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "socialagent" }]
}
